[submodule "Wippersnapper_Boards"]
	path = Wippersnapper_Boards
	url = https://github.com/adafruit/Wippersnapper_Boards
	branch = offline-mode
[submodule "Wippersnapper_Components"]
	path = Wippersnapper_Components
	url = https://github.com/adafruit/Wippersnapper_Components
	branch = offline-mode
